@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
*{box-sizing: border-box;font-family: 'Nanum Gothic', sans-serif; }
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0;}
ul, ol {margin: 0; padding: 0; list-style: none;}
a, a:hover {text-decoration: none;}

/*좌측 헤더 */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: #eee;
    
}
header .wrap{
    background-color: #eee;
    height: 100%;
    position: relative;
}
header .wrap .logo{
    text-align: center;
    padding-top: 70px;
}

header .wrap .logo > a > img{
    width: 200px;
}

header .wrap nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}
header .wrap nav > ul{}
header .wrap nav > ul > li{
    border-top: 1px solid #777;
}
header .wrap nav > ul > li:nth-child(1){
    border-top: 1px solid #777;
}
header .wrap nav > ul > li > a{
    color: #777;
    display: block;
    padding: 20px 0;
    font-weight: bold;
}
header .wrap nav > ul > li > a:hover{
    /* background-color: #6C89D6; */
    color: #6C89D6;
}
header .wrap nav > ul > li > ul{
    display: none;
}



header .wrap .sns{
    width: 50%;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
header .wrap .sns h5{
    color: #6C89D6;
    text-align: center;
    margin-bottom: 5px;
    }

header .wrap .sns > ul{
    display: flex;
    justify-content: space-evenly;
}
header .wrap .sns > ul > li{
    margin: 0 5px;
}
header .wrap .sns > ul > li > a{
    display: inline-block;
}

/*컨텐츠============================== */
section{
    width: calc(100% - 270px);
    height: 100vh;
    /* height: 1600px; */
    margin-left: 270px;

}
section article{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows:  repeat(5, 1fr);
    
}
section article .cont{
    width: 100%;
    height:100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}


section article .cont:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(../img/t-1-213373_640x480.jpg);}
section article .cont:nth-child(2){
    background-image: url(../img/t-3-325075_640x480.jpg);}
section article .cont:nth-child(3){
    background-image: url(../img/t-21-545213_640x480.jpg);}
section article .cont:nth-child(4) {
    background-image: url(../img/t-7-360109_640x480.jpg);}
section article .cont:nth-child(5) {
    background-image: url(../img/t-8-308603_640x480.jpg);}
section article .cont:nth-child(6) {
    background-image: url(../img/t-9-340072_640x480.jpg);}
section article .cont:nth-child(7) {
    grid-column: 2/4;
    background-image: url(../img/t-17-247234_640x480.jpg);}
section article .cont:nth-child(8) {
    background-image: url(../img/shutterstock_58264459-111274_640x480.jpg);}
section article .cont:nth-child(9) {
    background-image: url(../img/t-13-584189_640x480.jpg);}
section article .cont:nth-child(10){
    background-image: url(../img/shutterstock_56785618-132726_640x480.jpg);}
section article .cont:nth-child(11) {
    grid-column: 3/5;
    background-image: url(../img/t-5-236106_640x480.jpg);}
section article .cont:nth-child(12) {
    grid-column: 1/3;
    background-image: url(../img/t3-8-321596_640x480.jpg);}
section article .cont:nth-child(13) {
    background-image: url(../img/t-19-373493_640x480.jpg);}
section article .cont:nth-child(14) {
    background-image: url(../img/t3-9-289799_640x480.jpg);}


section article .cont .yellowBg{
    width: 100%;
    height:100%;
    background-color: rgba(255,255,255,0.8);
    opacity: 0;
    transition:all 1s;
}


section article .cont .yellowBg .centerbox{
    width:100%; height:100%; 
    display:table; 
    position:relative; 
    color: #333;
    
}
section article .cont .yellowBg .centerbox .txt_box{
    width:100%; height:100%; 
    display:table-cell; 
    text-align:center; 
    vertical-align:middle;
    
}
section article .cont .yellowBg .centerbox .txt_box h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    padding: 5px 0;
    color: #666;
}
section article .cont .yellowBg .centerbox .txt_box > h5{
    font-size: 10px;
    color: #666;
}
section article .cont .yellowBg .centerbox .txt_box .line{
    background-color: #6c88d5;
    margin: 0 auto;
    width: 100px;
    height: 2px;
    margin-top: 10px;
}

section article .cont .yellowBg .centerbox .txt_box a{
    margin: 20px auto 0;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 1s;
    transform: translateY(500%);
}
section article .cont:hover .yellowBg{
    opacity: 1;
}
section article .cont:hover .yellowBg .centerbox .txt_box a{
    transform: translateY(0%);
} 

section article .cont:nth-child(7) .yellowBg .centerbox, 
section article .cont:nth-child(11) .yellowBg .centerbox,
section article .cont:nth-child(12) .yellowBg .centerbox{
    width:50%
}

footer{width:100%; height:30px; clear:both; padding-top:10px; display: none;}
.footer-box{width:100%; height:20px; background:#6ab3b2; text-align:center; }
.footer-box p{font-size:12px; color:#fff;}






